In [154]:
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [88]:
df = pd.read_excel(r'Cryotherapy.xlsx')
df

    sex  age   Time  Number_of_Warts  Type  Area  Result_of_Treatment
0     1   35  12.00                5     1   100                    0
1     1   29   7.00                5     1    96                    1
2     1   50   8.00                1     3   132                    0
3     1   32  11.75                7     3   750                    0
4     1   67   9.25                1     1    42                    0
..  ...  ...    ...              ...   ...   ...                  ...
85    2   34  12.00                3     3    95                    0
86    2   20   3.50                6     1    75                    1
87    2   35   8.25                8     3   100                    0
88    1   24  10.75               10     1    20                    1
89    1   19   8.00                8     1   160                    1

[90 rows x 7 columns]

In [122]:
x = df[['sex', 'age', 'Time', 'Number_of_Warts', 'Type', 'Area']].values
x

array([[1.000e+00, 3.500e+01, 1.200e+01, 5.000e+00, 1.000e+00, 1.000e+02],
       [1.000e+00, 2.900e+01, 7.000e+00, 5.000e+00, 1.000e+00, 9.600e+01],
       [1.000e+00, 5.000e+01, 8.000e+00, 1.000e+00, 3.000e+00, 1.320e+02],
       [1.000e+00, 3.200e+01, 1.175e+01, 7.000e+00, 3.000e+00, 7.500e+02],
       [1.000e+00, 6.700e+01, 9.250e+00, 1.000e+00, 1.000e+00, 4.200e+01],
       [1.000e+00, 4.100e+01, 8.000e+00, 2.000e+00, 2.000e+00, 2.000e+01],
       [1.000e+00, 3.600e+01, 1.100e+01, 2.000e+00, 1.000e+00, 8.000e+00],
       [1.000e+00, 5.900e+01, 3.500e+00, 3.000e+00, 3.000e+00, 2.000e+01],
       [1.000e+00, 2.000e+01, 4.500e+00, 1.200e+01, 1.000e+00, 6.000e+00],
       [2.000e+00, 3.400e+01, 1.125e+01, 3.000e+00, 3.000e+00, 1.500e+02],
       [2.000e+00, 2.100e+01, 1.075e+01, 5.000e+00, 1.000e+00, 3.500e+01],
       [2.000e+00, 1.500e+01, 6.000e+00, 2.000e+00, 1.000e+00, 3.000e+01],
       [2.000e+00, 1.500e+01, 2.000e+00, 3.000e+00, 1.000e+00, 4.000e+00],
       [2.000e+00, 1.500e+01, 3.750e+00, 2.000e+00, 3.000e+00, 7.000e+01],
       [2.000e+00, 1.700e+01, 1.100e+01, 2.000e+00, 1.000e+00, 1.000e+01],
       [2.000e+00, 1.700e+01, 5.250e+00, 3.000e+00, 1.000e+00, 6.300e+01],
       [2.000e+00, 2.300e+01, 1.175e+01, 1.200e+01, 3.000e+00, 7.200e+01],
       [2.000e+00, 2.700e+01, 8.750e+00, 2.000e+00, 1.000e+00, 6.000e+00],
       [2.000e+00, 1.500e+01, 4.250e+00, 1.000e+00, 1.000e+00, 6.000e+00],
       [2.000e+00, 1.800e+01, 5.750e+00, 1.000e+00, 1.000e+00, 8.000e+01],
       [1.000e+00, 2.200e+01, 5.500e+00, 2.000e+00, 1.000e+00, 7.000e+01],
       [2.000e+00, 1.600e+01, 8.500e+00, 1.000e+00, 2.000e+00, 6.000e+01],
       [1.000e+00, 2.800e+01, 4.750e+00, 3.000e+00, 1.000e+00, 1.000e+02],
       [2.000e+00, 4.000e+01, 9.750e+00, 1.000e+00, 2.000e+00, 8.000e+01],
       [1.000e+00, 3.000e+01, 2.500e+00, 2.000e+00, 1.000e+00, 1.150e+02],
       [2.000e+00, 3.400e+01, 1.200e+01, 3.000e+00, 3.000e+00, 9.500e+01],
       [1.000e+00, 2.000e+01, 5.000e-01, 2.000e+00, 1.000e+00, 7.500e+01],
       [2.000e+00, 3.500e+01, 1.200e+01, 5.000e+00, 3.000e+00, 1.000e+02],
       [2.000e+00, 2.400e+01, 9.500e+00, 3.000e+00, 3.000e+00, 2.000e+01],
       [2.000e+00, 1.900e+01, 8.750e+00, 6.000e+00, 1.000e+00, 1.600e+02],
       [1.000e+00, 3.500e+01, 9.250e+00, 9.000e+00, 1.000e+00, 1.000e+02],
       [1.000e+00, 2.900e+01, 7.250e+00, 6.000e+00, 1.000e+00, 9.600e+01],
       [1.000e+00, 5.000e+01, 8.750e+00, 1.100e+01, 3.000e+00, 1.320e+02],
       [2.000e+00, 3.200e+01, 1.200e+01, 4.000e+00, 3.000e+00, 7.500e+02],
       [2.000e+00, 6.700e+01, 1.200e+01, 1.200e+01, 3.000e+00, 4.200e+01],
       [2.000e+00, 4.100e+01, 1.050e+01, 2.000e+00, 2.000e+00, 2.000e+01],
       [2.000e+00, 3.600e+01, 1.100e+01, 6.000e+00, 1.000e+00, 8.000e+00],
       [1.000e+00, 6.300e+01, 2.750e+00, 3.000e+00, 3.000e+00, 2.000e+01],
       [1.000e+00, 2.000e+01, 5.000e+00, 3.000e+00, 1.000e+00, 6.000e+00],
       [1.000e+00, 3.400e+01, 1.200e+01, 1.000e+00, 3.000e+00, 1.500e+02],
       [2.000e+00, 2.100e+01, 1.050e+01, 5.000e+00, 1.000e+00, 3.500e+01],
       [2.000e+00, 1.500e+01, 8.000e+00, 1.200e+01, 1.000e+00, 3.000e+01],
       [1.000e+00, 1.500e+01, 3.500e+00, 2.000e+00, 1.000e+00, 4.000e+00],
       [2.000e+00, 1.500e+01, 1.500e+00, 1.200e+01, 3.000e+00, 7.000e+01],
       [1.000e+00, 1.700e+01, 1.150e+01, 2.000e+00, 1.000e+00, 1.000e+01],
       [1.000e+00, 1.700e+01, 5.250e+00, 4.000e+00, 1.000e+00, 6.300e+01],
       [2.000e+00, 2.300e+01, 9.500e+00, 5.000e+00, 3.000e+00, 7.200e+01],
       [1.000e+00, 2.700e+01, 1.000e+01, 5.000e+00, 1.000e+00, 6.000e+00],
       [1.000e+00, 1.500e+01, 4.000e+00, 7.000e+00, 1.000e+00, 6.000e+00],
       [2.000e+00, 1.800e+01, 4.500e+00, 8.000e+00, 1.000e+00, 8.000e+01],
       [2.000e+00, 2.200e+01, 5.000e+00, 9.000e+00, 1.000e+00, 7.000e+01],
       [1.000e+00, 1.600e+01, 1.025e+01, 3.000e+00, 2.000e+00, 6.000e+01],
       [2.000e+00, 2.800e+01, 4.000e+00, 1.100e+01, 1.000e+00, 1.000e+02],
       [2.000e+00, 4.000e+01, 8.750e+00, 6.000e+00, 2.000e+00, 8.000e+01],
       [2.000e+00, 3.000e+01, 5.000e-01, 8.000e+00, 3.000e+00, 1.150e+02],
       [1.000e+00, 3.400e+01, 1.075e+01, 1.000e+00, 3.000e+00, 9.500e+01],
       [1.000e+00, 2.000e+01, 3.750e+00, 1.100e+01, 1.000e+00, 7.500e+01],
       [2.000e+00, 3.500e+01, 8.500e+00, 6.000e+00, 3.000e+00, 1.000e+02],
       [1.000e+00, 2.400e+01, 9.500e+00, 8.000e+00, 1.000e+00, 2.000e+01],
       [2.000e+00, 1.900e+01, 8.000e+00, 9.000e+00, 1.000e+00, 1.600e+02],
       [1.000e+00, 3.500e+01, 7.250e+00, 2.000e+00, 1.000e+00, 1.000e+02],
       [1.000e+00, 2.900e+01, 1.175e+01, 5.000e+00, 1.000e+00, 9.600e+01],
       [2.000e+00, 5.000e+01, 9.500e+00, 4.000e+00, 3.000e+00, 1.320e+02],
       [2.000e+00, 3.200e+01, 1.200e+01, 1.200e+01, 3.000e+00, 7.500e+02],
       [1.000e+00, 6.700e+01, 1.000e+01, 7.000e+00, 1.000e+00, 4.200e+01],
       [2.000e+00, 4.100e+01, 7.750e+00, 5.000e+00, 2.000e+00, 2.000e+01],
       [2.000e+00, 3.600e+01, 1.050e+01, 4.000e+00, 1.000e+00, 8.000e+00],
       [1.000e+00, 6.700e+01, 3.750e+00, 1.100e+01, 3.000e+00, 2.000e+01],
       [1.000e+00, 2.000e+01, 4.000e+00, 3.000e+00, 1.000e+00, 6.000e+00],
       [1.000e+00, 3.400e+01, 1.125e+01, 1.000e+00, 3.000e+00, 1.500e+02],
       [2.000e+00, 2.100e+01, 1.075e+01, 7.000e+00, 1.000e+00, 3.500e+01],
       [1.000e+00, 1.500e+01, 1.050e+01, 1.100e+01, 1.000e+00, 3.000e+01],
       [1.000e+00, 1.500e+01, 2.000e+00, 1.100e+01, 1.000e+00, 4.000e+00],
       [2.000e+00, 1.500e+01, 2.000e+00, 1.000e+01, 3.000e+00, 7.000e+01],
       [1.000e+00, 1.700e+01, 9.250e+00, 1.200e+01, 1.000e+00, 1.000e+01],
       [1.000e+00, 1.700e+01, 5.750e+00, 1.000e+01, 1.000e+00, 6.300e+01],
       [1.000e+00, 2.300e+01, 1.025e+01, 7.000e+00, 3.000e+00, 7.200e+01],
       [1.000e+00, 2.700e+01, 1.050e+01, 7.000e+00, 1.000e+00, 6.000e+00],
       [1.000e+00, 1.500e+01, 5.500e+00, 5.000e+00, 1.000e+00, 6.000e+00],
       [1.000e+00, 1.800e+01, 4.000e+00, 1.000e+00, 1.000e+00, 8.000e+01],
       [2.000e+00, 2.200e+01, 4.500e+00, 2.000e+00, 1.000e+00, 7.000e+01],
       [1.000e+00, 1.600e+01, 1.100e+01, 3.000e+00, 2.000e+00, 6.000e+01],
       [2.000e+00, 2.800e+01, 5.000e+00, 9.000e+00, 1.000e+00, 1.000e+02],
       [1.000e+00, 4.000e+01, 1.150e+01, 9.000e+00, 2.000e+00, 8.000e+01],
       [1.000e+00, 3.000e+01, 2.500e-01, 1.000e+01, 1.000e+00, 1.150e+02],
       [2.000e+00, 3.400e+01, 1.200e+01, 3.000e+00, 3.000e+00, 9.500e+01],
       [2.000e+00, 2.000e+01, 3.500e+00, 6.000e+00, 1.000e+00, 7.500e+01],
       [2.000e+00, 3.500e+01, 8.250e+00, 8.000e+00, 3.000e+00, 1.000e+02],
       [1.000e+00, 2.400e+01, 1.075e+01, 1.000e+01, 1.000e+00, 2.000e+01],
       [1.000e+00, 1.900e+01, 8.000e+00, 8.000e+00, 1.000e+00, 1.600e+02]])

In [150]:
y = df[['Result_of_Treatment']].values
y = y.flatten()
y

array([0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 1])

In [141]:
# Separar o dataset em conjunto para treinamento e conjunto para teste
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3,
                                                   random_state=0)

In [168]:
clf = svm.SVC(kernel='linear', random_state=None, probability=True)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [169]:
# Kernel Linear
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))
print("Precision:", metrics.precision_score(y_test, y_pred, average='micro'))
print("Recall:", metrics.recall_score(y_test, y_pred, average='micro'))
print("F1-Score: ", metrics.f1_score(y_test, y_pred, average='micro'))

Accuracy: 0.9629629629629629
Precision: 0.9629629629629629
Recall: 0.9629629629629629
F1-Score:  0.9629629629629629

In [170]:
svc = svm.SVC(kernel='rbf', coef0 = 5, C=1, gamma='auto', random_state=None)
svc.fit(X_train, y_train)
y_pred = svc.predict(X_test)

In [171]:
# Kernel Rbf
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))
print("Precision:", metrics.precision_score(y_test, y_pred, average='micro'))
print("Recall:", metrics.recall_score(y_test, y_pred, average='micro'))
print("F1-Score: ", metrics.f1_score(y_test, y_pred, average='micro'))

Accuracy: 0.8518518518518519
Precision: 0.8518518518518519
Recall: 0.8518518518518519
F1-Score:  0.8518518518518519